<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new </title>
</head>
<body>
<form method="post" action="/product/create" th:object="${product}">
    <table>
        <thead>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Product Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Product Manufacture</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
        </tr>
        <tr>
            <td><button type="submit" value="Submit">Submit</button></td>
        </tr>
        </thead>
    </table>
</form>
</body>
</html>